spring:
  profiles:
    default: dev
  application:
    name: cou-commerce

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        highlight_sql: true
        use_sql_comments: true
        format_sql: true
        show_sql: true
    hibernate:
      ddl-auto: update

  security:
    user:
      name: admin
      password: password

  jackson:
    deserialization:
      fail-on-unknown-properties: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8080

logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.core.env: DEBUG
    org.springframework.security: DEBUG #시큐리티 로깅보기
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  override-with-generic-response: false
  use-fqn: true

cors:
  allowed-origins: http://localhost:3000, http://localhost:8080, http://192.168.0.5:8080
